---

- name: get ansible user info
  getent:
    database: passwd
    key: "{{ ansible_user }}"

- name: set ansible user home directory
  set_fact:
    ansible_user_homedir: "{{ getent_passwd[ansible_user][4] }}"

- name: Create ansible user ssh directory
  file:
    path: "{{ ansible_user_homedir }}/.ssh"
    state: directory
    owner: root
    mode: 0600

- name: Copy ansible user ssh config
  copy:
    owner: root
    mode: 0755
    dest: "{{ ansible_user_homedir }}/.ssh/config"
    content: |
      StrictHostKeyChecking no
      UserKnownHostsFile /dev/null

- name: Copy github checkout key to server
  copy:
    mode: 0600
    owner: root
    content: "{{ github_deploy_key }}"
    dest: "{{ ansible_user_homedir }}/.ssh/id_rsa_github"

#- name: Check out default ansible project
#  git:
#    repo:  "{{ ansible_hostbuild_project }}"
#    dest: "{{ awx_project_data_dir }}/hostbuild"
#    key_file: "{{ ansible_user_homedir }}/.ssh/id_rsa_github"
#  tags:
#    - projectclone
#
#- name: Install required ansible modules
#  command: ansible-galaxy install -r requirements.yml -p .
#  args:
#    chdir: "{{ awx_project_data_dir }}/hostbuild/roles"
#  tags:
#    - projectclone
#
#- name: Install required ansible collections
#  command: ansible-galaxy collection install -r requirements.yml -p .
#  args:
#    chdir: "{{ awx_project_data_dir }}/hostbuild/collections"
#  tags:
#    - projectclone


# Add root credential
- name: Create ansible root user credential
  tower_credential:
    name: ansible-root
    organization: Default
    state: present
    kind: ssh
    ssh_key_data: "{{ github_deploy_key }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

- name: Create ansible github user credential
  tower_credential:
    name: ansible-github
    organization: Default
    state: present
    kind: scm
    ssh_key_data: "{{ github_deploy_key }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

# Add vault credential
- name: Create ansible vault credential
  tower_credential:
    name: ansible-vault
    organization: Default
    state: present
    kind: vault
    vault_password: "{{ vault_awx_vault_password }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

- name: Add installed project to Tower
  tower_project:
    name: "hostbuild"
    description: "WWT Host-Build Project"
    scm_type: git
    scm_credential: ansible-github
    scm_clean: yes
    scm_branch: master
    scm_update_on_launch: yes
    scm_url: "{{ ansible_hostbuild_project }}"
    #local_path: "hostbuild"
    organization: "Default"
    state: present
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

# Add Inventory to tower
- name: Add tower inventory
  tower_inventory:
    name: "build-servers"
    description: "Intel NUC Build Servers"
    organization: "Default"
    variables: "{{ lookup('file', '../../extra_vars.yml') }}"
    state: present
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

- name: Add buildmaster group to tower
  tower_group:
    name: buildmaster
    description: "Build Master"
    inventory: "build-servers"
    state: present
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"

- name: Add buildhost group to tower
  tower_group:
    name: buildhost
    description: "Intel NUC Build Hosts"
    inventory: "build-servers"
    state: present
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"

# Add Job template to tower
- name: Create job template for build server configuration
  tower_job_template:
    name: "Configure Deploy Server"
    job_type: "run"
    host_config_key: 16a4a143-0f6e-49b6-8051-fe135b6fdffa
    fact_caching_enabled: yes
    diff_mode_enabled: yes
    inventory: "build-servers"
    project: "hostbuild"
    playbook: "build-host-configure.yml"
    credential: "ansible-root"
    vault_credential: "ansible-vault"
    state: "present"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

- name: Create job template for build server reimaging
  tower_job_template:
    name: "Reimage Build Server"
    job_type: "run"
    fact_caching_enabled: yes
    diff_mode_enabled: yes
    inventory: "build-servers"
    project: "hostbuild"
    playbook: "build-host-deploy.yml"
    ask_extra_vars:  yes
    ask_limit: yes
    ask_tags: yes
    credential: "ansible-root"
    vault_credential: "ansible-vault"
    state: "present"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  tags:
    - projectimport

# Add Vars to tower