---
- name: Create Tower inventories
  awx.awx.tower_inventory:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    organization: "Default"
    #variables: "{{ item.variables | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
    variables: |
      {% if item.extra_vars_path is defined and item.extra_vars_path != None %}
      {% for varfile in lookup('fileglob', item.extra_vars_path, wantlist=True) %}
      {{ lookup('file', varfile) | default(omit) }}
      {% endfor %}
      {% elif item.variables is defined and item.variables != None %}
      {{ lookup('list', item.variables) |  default(omit) }}
      {% endif %}
  loop: "{{ tower_inventories }}"
  when:
    - tower_inventories is defined
    - tower_inventories != None


- name: Create Tower inventory sources
  awx.awx.tower_inventory_source:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    organization: "Default"
    #variables: "{{ item.variables | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    source: "{{ item.source }}"
    source_project: "{{ item.source_project | default(omit) }}"
    source_path: "{{ item.source_path | default(omit) }}"
    update_on_launch: "{{ item.update_on_launch | default('no') }}"
    update_on_project_update: "{{ item.update_on_project_update | default('no') }}"
    overwrite: "{{ item.overwrite | default('no') }}"
    inventory: "{{ item.inventory }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
    variables: |
      {% if item.extra_vars_path is defined and item.extra_vars_path != None %}
      {% for varfile in lookup('fileglob', item.extra_vars_path, wantlist=True) %}
      {{ lookup('file', varfile) | default(omit) }}
      {% endfor %}
      {% elif item.variables is defined and item.variables != None %}
      {{ lookup('list', item.variables) |  default(omit) }}
      {% endif %}
  loop: "{{ tower_inventory_sources }}"
  when:
    - tower_inventory_sources is defined
    - tower_inventory_sources != None

- name: Add hosts to Tower
  awx.awx.tower_host:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    inventory: "{{ item.inventory }}"
    #variables: "{{ item.variables | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
    variables: |
      {% if item.extra_vars_path is defined and item.extra_vars_path != None %}
      {% for varfile in lookup('fileglob', item.extra_vars_path, wantlist=True) %}
      {{ lookup('file', varfile) | default(omit) }}
      {% endfor %}
      {% elif item.variables is defined and item.variables != None %}
      {{ lookup('list', item.variables) |  default(omit) }}
      {% endif %}
  loop: "{{ tower_hosts }}"
  when:
    - tower_hosts is defined
    - tower_hosts != None

- name: Add inventory groups to Tower
  awx.awx.tower_group:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    inventory: "{{ item.inventory }}"
    source: "{{ item.source | default('manual') }}"
    instance_filters: "{{ item.instance_filters | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ tower_groups }}"
  when:
    - tower_groups is defined
    - tower_groups != None
