---

- name: Export tower assets to refresh playbook data
  awx.awx.tower_receive:
    all: True
    validate_certs: no
    project:
      - hostbuild
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  register: towerjobs
- debug:
    msg: "{{ towerjobs }}"

- name: Create Tower job templates
  awx.awx.tower_job_template:
    name: "{{ item.name }}"
    project: "{{ item.project }}"
    playbook: "{{ item.playbook }}"
    job_type: "{{ item.job_type | default('run') }}"
    fact_caching_enabled: "{{ item.fact_caching_enabled | default(omit) }}"
    diff_mode_enabled: "{{ item.diff_mode_enabled | default(omit) }}"
    concurrent_jobs_enabled: "{{ item.concurrent_jobs_enabled | default(omit) }}"
    force_handlers_enabled: "{{ item.force_handlers_enabled | default(omit) }}"
    survey_enabled: "{{ item.survey_enabled | default(omit) }}"
    host_config_key: "{{ item.host_config_key | default(omit) }}"
    survey_spec: "{{ item.survey_spec | default(omit) }}"
    become_enabled: "{{ item.become_enabled | default(omit) }}"
    ask_credential: "{{ item.ask_credential | default(omit) }}"
    ask_diff_mode: "{{ item.ask_diff_mode | default(omit) }}"
    ask_extra_vars: "{{ item.ask_extra_vars | default(omit) }}"
    ask_inventory: "{{ item.ask_inventory | default(omit) }}"
    ask_job_type: "{{ item.ask_job_type | default(omit) }}"
    ask_limit: "{{ item.ask_limit | default(omit) }}"
    ask_skip_tags: "{{ item.ask_skip_tags | default(omit) }}"
    ask_tags: "{{ item.ask_tags | default(omit) }}"
    ask_verbosity: "{{ item.ask_verbosity | default(omit) }}"
    skip_tags: "{{ item.skip_tags | default(omit) }}"
    limit: "{{ item.limit | default(omit) }}"
    job_tags: "{{ item.job_tags | default(omit) }}"
    start_at_task: "{{ item.start_at_task | default(omit) }}"
    verbosity: "{{ item.verbosity | default('0') }}"
    inventory: "{{ item.inventory | default(omit) }}"
    extra_vars_path: "{{ item.extra_vars_path | default(omit) }}"
    vault_credential: "{{ item.vault_credential | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ tower_job_templates }}"
  register: template_import
  when:
    - tower_job_templates is defined
    - tower_job_templates != None

#- debug:
#    msg: "{{ item }}"
#  loop: "{{ template_import.results }}"
#
#- debug:
#    msg: "{{ item.job_template | lower | regex_replace('(?:[^\\w]+)', '_') }}_job_id: {{ item.id }}"
#  loop: "{{ template_import.results }}"

- name: "Set Fact for Job IDs"
  set_fact:
    "{{ item.job_template | lower | regex_replace('(?:[^\\w]+)', '_') }}_job_id": "{{ item.id }}"
    cacheable: yes
  loop: "{{ template_import.results }}"
  register: job_template_facts
  when:
    - template_import is defined
    - template_import.results != None

- name: 'Set Foreman Global Parameter "host_configure_job_id"'
  command: hammer -r global-parameter set --name  host_configure_job_id --parameter-type integer --value {{ host_configure_job_id }}
  #loop: "{{ template_import.results }}"
  when:
    - host_configure_job_id is defined
    - host_configure_job_id != None

#- name: Create job template for build server reimaging
#  awx.awx.tower_job_template:
#    name: "Reimage Build Server {{ item.value.name }}"
#    job_type: "run"
#    fact_caching_enabled: yes
#    diff_mode_enabled: yes
#    inventory: "build-masters"
#    project: "hostbuild"
#    playbook: "build-host-deploy.yml"
#    extra_vars_path: "{{ project_directory }}/host_vars/{{ item.key }}.yml"
#    vault_credential: "ansible-vault"
#    state: "present"
#    validate_certs: no
#    tower_host: "{{ awx_web_url }}"
#    tower_username: "{{ awx_admin_user }}"
#    tower_password: "{{ awx_admin_password }}"
#  loop: "{{ foreman_hosts | dict2items }}"
#
#
#- name: Create job template for build server configuration
#  awx.awx.tower_job_template:
#    name: "Configure Deploy Server"
#    job_type: "run"
#    host_config_key: "{{ awx_host_config_key }}"
#    fact_caching_enabled: yes
#    diff_mode_enabled: yes
#    inventory: "build-servers"
#    ask_limit: no
#    project: "hostbuild"
#    playbook: "build-host-configure.yml"
#    credential: "ansible-root"
#    vault_credential: "ansible-vault"
#    state: "present"
#    validate_certs: no
#    tower_host: "{{ awx_web_url }}"
#    tower_username: "{{ awx_admin_user }}"
#    tower_password: "{{ awx_admin_password }}"
#  register: deploytemplate
#
#- name: Set deploy template ID
#  set_fact:
#    deploy_template_id: "{{ deploytemplate.id }}"
#
#
#- name: "Set deploy template ID in Foreman"
#  command: hammer -r global-parameter set --name ansible_job_template_id --parameter-type integer --value {{ deploy_template_id }}
