---
- name: Add installed project to Tower
  awx.awx.tower_project:
    name: "hostbuild"
    description: "WWT Host-Build Project"
    scm_type: git
    scm_credential: ansible-github
    scm_clean: yes
    scm_branch: master
    scm_update_on_launch: yes
    scm_url: "{{ ansible_hostbuild_project }}"
    local_path: "hostbuild"
    organization: "Default"
    state: present
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  register: hostbuild_import

- set_fact:
    project_directory: "{{ awx_project_data_dir }}/_{{ hostbuild_import.id }}__{{ hostbuild_import.project }}"

- debug:
    msg: |
      {{ playbook_dir }}
      {{ inventory_dir }}
      {{ role_path }}
